################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Treinamento/v15/Server/sqlite3
/.vs/Treinamento/v15
/GL.Treinamento.UI.Site/App_Data/aspnet-GL.Treinamento.UI.Site-20190615063629.mdf